.outer-chat-div{
    width : 120%;
    overflow-x: hidden !important;
   
}

.chat-container{
    max-height: 560px !important;
    overflow-y: auto !important;
    scrollbar-width: none !important;
}
  
  .message {
    margin: 10px 0;
  }
  
  .sent {
    text-align: right;
  }
  
  .received {
    text-align: left;
  }
  
  .message-user {
    font-size: 1rem;
    font-weight: bold;
    color: #15803d;
  }
  
  .message-text {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color:#dcfce7;
    display: inline-block;
    width: max-content !important;
  }
  
  .border-bottom {
    border-bottom: 1px solid #ddd;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .chat-input input {
    flex: 1;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .message-text {
      max-width: 60%;
    }
  
    .chat-input input {
      padding: 8px 16px;
    }
  
    .send-button {
      padding: 8px 16px;
    }
  }

  .more-icon-div{
    position: static !important;
    left: 60% !important;
  }

  .more-icon{
    margin: 20px !important;
    font-size: 2.2rem !important;
  }
  .group-title {
    font-family: "Montserrat";
    color: #166534 !important;
    font-weight: bold;
    font-size: x-large;
  }
  .media-attachment,.send-message-btn{
    background-color :#047857 !important; 
    font-size: larger !important; 
    font-weight: bolder !important; 
  }
  .media-attachment:hover,.send-message-btn:hover{
    border :2px solid #047857 !important; 
    color : #047857 !important;
    background-color: white !important;
    font-size: larger !important; 
    font-weight: bolder !important; 
  }
  .create-group-stack{
    background-color :#047857 !important; 
    color: white !important;
    font-weight: bold;
  }
  .create-group-stack:hover{
    border :2px solid #047857 !important; 
    color: #047857 !important;
    background-color: white !important;
  }
  .timestamp {
    font-size: 0.7rem; 
    font-style: italic;
    align-items: start;
    font-family: "Montserrat";
  }