/* .outer-container{
    border : 2px solid rgb(7,94,84) !important;
    border-radius: 20px !important;
} */


.inner-container {
 
    padding: 0px !important;
    margin: 0px !important;

} 

.user-list-col{
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgb(7,94,84);
    margin-top: 0.5rem !important;
    overflow-y: auto !important;
    scrollbar-width:none !important;
    scrollbar-color: rgb(7,94,84) !important;
    max-height: 100vh;

}
.user-lastseen{
    font-style: italic;
    font-weight: lighter !important;
    font-size: small;
}

.user-list-group{
    overflow-y: auto !important;
    max-height: 650px !important;
    scrollbar-width: none !important;
}
.brand-slogan-homepage{
    
    font-size: "Montserrat" !important;
    font-size: 3.0rem;
    font-weight: bolder;
    text-align: center;
    color : rgb(7,94,84);

}

@media (max-width:768px) {
    .brand-slogan-homepage{
        font-size: 2.0rem;
        padding: 10px;
    }
}


.brand-img{
 width: 50%;
 height: 50%;
}

@media (max-width:768px) {
    .brand-img{
        width: 100%;
        height: 100%;
       }
}

.brand-img-div{
    display: flex;
    justify-content: center;
}

.search-btn-user{
    background-color: #166534 !important;
    color: white !important;
    font-family: "Montserrat" !important;
    font-weight: bolder !important;
 }
.search-btn-user:hover{
    background-color: white !important;
    color: #166534 !important ;
    border: 2px solid #166534  !important;
}
.start-messaging-div{
    display: flex;
    justify-content: center;
}
.start-messaging-btn{
 background-color: rgb(7,94,84) !important;
 font-family: "Monsterrat" !important;
}
.start-messaging-btn:hover{
    background-color: white !important;
    border: 2px solid rgb(7,94,84) !important;
    color: rgb(7,94,84) !important;
}
.start-messaging-txt{
  font-size: 1.2rem !important;
}

.start-messaging-icon{
  font-size: 1.2rem !important;
}


/* @media (max-width:576px) {
    .user-list-col{
      display: none !important;
    }
} */

.group-name,.group-lastseen,.user-name,.user-lastseen {
    color:rgb(7,94,84) ;
    font-family: "Montserrat";
    font-weight: bold;
}
#your-group-heading{
    font-family: "Montserrat";
    font-weight: bold;
    color: #166534 !important;
    font-size: x-large;
}

